*{
  font-family: '微軟正黑體';
}
p{
  letter-spacing: 1px;
}
.list-group-item.active{
  background-color: rgb(255, 160, 92)!important;
  border-color: rgb(255, 160, 92)!important;
  }

  #remove_sticky .sticky-top{
    position: static!important;
    z-index: 1!important;
  }

/*shoppingCart*/
/*header*/
/*購物車透明度*/
.btn-cart {
  background-color: transparent;
}
/*透過JS加入背景色後過渡*/
.navbar a{
  transition: all 5s ease-in-out;
}
/*header end*/


/*字體*/
/*字體*/
@font-face {
  font-family: only;
  src: url("../font/唯独你是不可取替.ttf");
}
@font-face {
  font-family: drunk;
  src: url("../font/别喝醉别流泪.ttf");
}
@font-face {
  font-family: Jason2;
  src: url("../font/JasonHandwriting2.ttf");
}
/*end*/


/*cartImg end*/

.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 400px;
}

.bg_word {
  background-color: rgba(255, 255, 255, 0.35);
}

.box_shadow{
  box-shadow: 0 3px 5px rgba(0,0,0,0.16);
  transition: box-shadow 0.3s;
}
.box_shadow:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,0.24);
}

/*shoppingCartProduct*/
/* 卡片固定高度超過隱藏 */
.box{
height: 350px;
overflow: hidden;
}
footer{
  background-image: url(../img/banner.jpg);
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-attachment: fixed;
  text-align: center;

}




/* #style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b4b3b4;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #838383;
}

.card-text:hover{
  overflow: scroll;
  overflow-x:hidden;
  height: 150px;

}

.card-text{
  height: 150px;
  overflow: hidden;
  transition: all 5s ease-in-out 1ms;

} */
